.about-details h5{
    color: #000;
}
.about-details p{
    color: #000;
    font-size: 18px;
    margin: 0 5rem 0 0;
    
}
.about-details h1{
    color: #00005f;
    margin: 2rem 0;
    font-weight: bold;
    /* text-align: center; */
}
.about-details{    
    margin: -5rem 0 -4rem 0;
}
@media (max-width: 992px) {
    .about-details h5{
        margin: 0;
    }
    .about-details p{
        margin: 0;
        
    }
}