.contact{
background: #000;
}
.contact label{
    color: #fff;
}
small{
    width: 100%;
    display: flex;
    justify-content: center;
}
textarea{
    height: 8rem;
    outline: none;
    resize: none !important;
}