.education{
    background: #000;
}
.experience h1{    
    border-bottom: 2px solid rgb(255, 208, 0);
    width: 40%;    
}
.experience h4, h5, p{    
    color: #000;
}
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}
.display{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}